{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "import/no-mutable-exports": 0,
    "class-methods-use-this": 0,
    "prettier/prettier": [
      "error"
    ]
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}